<p>This is the partial for view 3.</p>

<bars-chart chart-data="40,100,80,15,25,60,10" ></bars-chart>

<p>
  Showing of 'interpolate' filter:
  {{ 'Current version is v%VERSION%.' | interpolate }}
</p>
