<p> Testing Chart 4 </p>

<c3chart bindto-id="chart1">
  <chart-column column-id="data 1"
          column-values= "10,20,30,40,50,60"
          column-type="line"/>
  <chart-column column-id="data 2"
                column-values="50,20,10,40,15,25"
                column-type="line"/>
</c3chart>

<p> Chart without tooltips </p>

<c3chart bindto-id="chart2" chart-data="datapoints" chart-columns="datacolumns" chart-x="datax">
    <chart-tooltip show-tooltip="false"/>
</c3chart>

<p> Chart with customized axises </p>

<c3chart bindto-id="chart3" chart-data="datapoints" chart-columns="datacolumns" chart-x="datax">
    <chart-axis>
        <chart-axis-x axis-id="x" axis-type="timeseries">
            <chart-axis-x-tick tick-fit="true" tick-count="1"/>
        </chart-axis-x>
        <chart-axis-y>
            <chart-axis-y-tick tick-fit="true" tick-count="4"/>
        </chart-axis-y>
    </chart-axis>
</c3chart>

<p> Chart with incremental data </p>

<c3chart bindto-id="chart4" chart-data="chart4datapoints" chart-columns="chart4datacolumns" chart-x="datax" chart-transition="0">

</c3chart>


